# general directories to ignore
bin
build
build_*
CMakeFiles
Testing

# extensions to ignore
*.o
*.out
*.a
*.cmake

# emacs
*.#
*~

# general files to ignore
CMakeCache.txt
Makefile
GPATH
GTAGS
GRTAGS
