# general directories to ignore
bin/
build/
build_clang/
build_gcc/
build_debug/
build_release/
CMakeFiles/
Testing/

# extensions to ignore
*.o
*.out
*.a
*.cmake

# general files to ignore
CMakeCache.txt
Makefile

# specific directories to ignore
/debug_build/
/G*
